@font-face {
  font-family: "Movement";
  src: url("../fonts/Movement-IndirectThin.woff2") format("woff2"),
    url("../fonts/Movement-IndirectThin.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Sporting Grotesque";
  src: url("../fonts/Sporting_Grotesque-Regular_web.woff2") format("woff2"),
    url("../fonts/Sporting_Grotesque-Regular_web.woff") format("woff");
  font-weight: normal;
}

  font-family: "Movement";
.parent {
  transform: translate3d(0, 0, 0);
  padding-top: 50%;
}

.album-cube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: rotateX(20deg) rotateY(30deg);
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: 400px;
  width: 400px;
}

.cover {
  transform: translateX(-50%) translateY(-50%) translateZ(200px);
}

.spine {
  transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(200px);
}

.back {
  transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(200px);
}
.top {
  transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
}

.side {
  transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(200px);
}

.bottom {
  transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
}